/portfolio/src
/etc-pihole/adlists.list   
/etc-pihole/gravity_old.db     
/etc-pihole/pihole-FTL.db-wal
/etc-pihole/cli_pw           
/etc-pihole/hosts              
/etc-pihole/config_backups   
/etc-pihole/listsCache         
/etc-pihole/tls_ca.crt
/etc-pihole/dhcp.leases      
/etc-pihole/logrotate          
/etc-pihole/tls.crt             
/etc-pihole/dnsmasq.conf     
/etc-pihole/migration_backup   
/etc-pihole/tls.pem
/etc-pihole/gravity_backups  
/etc-pihole/pihole-FTL.db      
/etc-pihole/versions            
/etc-pihole/gravity.db       
/etc-pihole/pihole-FTL.db-shm
/.env_*
